{% extends 'base.html' %}

{% block title %} Art Objects {{ artobjects.product_name }} {{ artobjects.description }}
    {{ artobjects.starting_price }} {{ artobjects.final_price }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        Details about the product: {{ artobjects }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ artobjects.product_name }}</h5>
                        <p class="card-text">Description: {{ artobjects.description }}</p>
                        <p class="card-text">Starting price: {{ artobjects.starting_price }}</p>
                        <p class="card-text">Final price: {{ artobjects.final_price }}</p>

                        <a href="{% url 'artobjects_list' %}" class="btn btn-secondary">Go back</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}