<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #fde3e9;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Scarlet Auction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

{#                <div class="dropdown">#}
{#                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"#}
{#                       data-bs-toggle="dropdown" aria-expanded="false">Categories</a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">#}
{#                        <li class="dropdown dropend">#}
{#                            <a class="dropdown-item dropdown-toggle" href="#" id="multilevelDropdownMenu1"#}
{#                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Art objects</a>#}
{#                            <ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu1">#}
{#                                <li><a class="dropdown-item" href="#">Add a new art object</a></li>#}
{#                                <li><a class="dropdown-item" href="#">Update article</a></li>#}
{#                                <li class="dropdown dropend">#}
{#                                    <a class="dropdown-item dropdown-toggle" href="#" id="multilevelDropdownMenu1"#}
{#                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multilevel#}
{#                                        Action 2</a>#}
{#                                    <ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu2">#}
{#                                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                                <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </div>#}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Art objects &raquo;</a>
                            <ul class="'dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" href="#">Add a new art object</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Update article</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Clothes &raquo;</a></li>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Add a new clothing item</a>
                            </li>
                        </ul>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Update article</a>
                            </li>
                        </ul>
                        <li><a class="dropdown-item" href="#">Jewelery &raquo;</a></li>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Add new Jewelery</a>
                            </li>
                        </ul>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Update article</a>
                            </li>
                        </ul>
                        <li><a class="dropdown-item" href="#">Vintage Cars &raquo;</a></li>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Add a new car</a>
                            </li>
                        </ul>
                        <ul class="'dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="#">Update article</a>
                            </li>
                        </ul>
                    </ul>
                </li>

                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
                        <input class="form-control" id="address-bar" type="search" placeholder="Search"
                               aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</nav>

</body>
</html>