
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Scarlet Auction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Art objects</a></li>
                        <li><a class="dropdown-item" href="#">Clothing items</a></li>
                        <li><a class="dropdown-item" href="#">Jewelery</a></li>
                    </ul>
                </li>

{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        Students#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Create a new student</a></li>#}
{#                        <li><a class="dropdown-item" href="#">List of students</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                 <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        Trainers#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Create a new trainer</a></li>#}
{#                        <li><a class="dropdown-item" href="#">List of trainers</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"#}
{#                       aria-expanded="false">#}
{#                        Books#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Create a new book</a></li>#}
{#                        <li><a class="dropdown-item" href="#">List of books</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#            <a href="#" class="btn btn-outline-success me-2">Login</a>#}
{#            <a href="{% url 'sign-up' %}" class="btn btn-outline-secondary">Sign up</a>#}
        </div>
    </div>
</nav>