{% extends 'base.html' %}

{% block title %} Cars List {% endblock title %}

{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            {% for car in cars_list %}
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">{{ car.product_name }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">{{ car.description|slice:":50" }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    {% if request.user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{% url 'update_car' car.id %}">Update</a>
                                        <a class="dropdown-item" href="{% url 'delete_car' car.id %}">Delete</a>
                                        <a class="dropdown-item" href="{% url 'car_details' car.id %}">View details</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'car_details' car.id %}">View details</a>
                                    {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}